body {
  font-family: 'Roboto', sans-serif;
}
section{
  padding-top: 3rem;
  margin: 0px;
}
.bg {
  background: #1A3F6B;
}
.bgw{
  background: rgba(255,255,255, .25);
}
.text-intro{
  font: 'Roboto';
  color: white;
  position: absolute; 
  left: 20%;
  font-weight: 900;
  font-size: 4.5em;
}
.text-aboutme{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 1.5em;
  font-weight: 900;
}
.text-porto{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 1.5em;
    font-weight: 900;
}
.newline{
  height: 2px;
  background: white;
}
.icons{
  color: white;
  font-size: 2rem;
  margin: 0 0.5rem;
}
.scroll-control {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 10px;
  height: 100%;
  transform: translateX(-50%);
  z-index: 999;
}
.scroll-control span {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px 0px;
}
.scroll{
  background-color: rgba(255, 255, 255, .4);

}
.scroll-control span:hover {
  background-color: rgba(255, 255, 255, 1);
}
@media all and (max-width: 1023px) {
  .scroll-control span {
    display: none;
  }
}
.truncate p {
  font-family: 'Roboto Condensed', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel-card{
  background-color: rgba(255, 255, 255, .3);
}
.card-active{
  background-color: rgba(255, 255, 255, .8);
}